body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 200px;
    font-size: 50px;
}

h1:hover {
    animation: pizdec-run 1s ease infinite; 
}

h2 {
    margin-top: 200px;
    font-size: 50px;
    animation: rgb 1s ease infinite;
}

@keyframes rgb {
    10% { color: red;}
    20% { color: orange;}
    30% { color: yellow;}
    40% { color: green;}
    50% { color: rgb(0, 132, 255);}
    60% { color: blue;}
    70% { color: purple;}
}

@keyframes pizdec-run {
    10% { margin-top: 200px;}
    20% { margin-top: 201px;}
    30% { margin-top: 202px;}
    40% { margin-top: 203px;}
    50% { margin-top: 204px;}
}